#logo {
    width: 3%;
}

body {
    background-image: url('https://wallpaperaccess.com/full/446984.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* body {
    background-image: url('https://www.kleinvink.nl/src/Frontend/Files/facilities/images/source/bloemen-bestellen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */

#down {
    width: 30%;
}

#bloemenwinkel {
    width: 35%;
}

form {
    margin-top: 2%;
}

.contact {
    margin-top: 2%;
}

