/* Flowerpower logo */
#logo {
    width: 3%;
}

/* achtergrond foto */
body {
    background-image: url('https://wallpapercave.com/wp/wp4535639.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* foto's */
#down {
    width: 30%;
}

#boeket {
    width: 20%;
    }
    
#bloemenwinkel {
    width: 40%;
}

/* form & ... achtergrond */
form {
    width: 20%;
    margin: 0 auto;
    padding: 25px;
    margin-top: 2%;
    box-shadow: 0px 0px 10px black;
    background-color: white;
    border-radius: 15px; 
}

.contact {
    width: 15%;
    max-width: 500px;
    margin: 0 auto;
    padding: 25px;
    margin-top: 2%;
    box-shadow: 0px 0px 10px black;
    background-color: white;
    border-radius: 10px; 
}

.vraag {
    width: 15%;
    max-width: 500px;
    margin: 0 auto;
    padding: 25px;
    margin-top: 2%;
    box-shadow: 0px 0px 10px black;
    background-color: white;
    border-radius: 10px; 
}
